.button {
    display: flex;
    justify-content: space-around;
    &__open-modal {
        margin-top: 50px;
        padding: 10px;
        font-size: 16px;
        color: white;
        border-radius: 5px;
    }
}  