.modal {
    position: fixed;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
  
    &__content {
        position: relative;
        width: 400px;
        background-color: #ff3333;
        border-radius: 6px;
    }
    &__header {
        padding: 20px;
        width: 100%;
        font-size: 20px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 700;
        color: white;
        background-color: #cc3333;
        border-radius: 6px 6px 0 0;
    }
    &__text {
        padding: 25px;
        font-family: Arial, Helvetica, sans-serif;
        line-height: 1.7;
        text-align: center;
        color: white;
    }
    &__close-button {
        position: absolute;
        top: 5px;
        right: 15px;
        font-size: 40px;
        color: #fff;
        background: transparent;
        border: 0;
        transform: rotate(45deg);
    }
    &__button-confirm {
        display: flex;
        justify-content: center;
    }
    &__button-ok,
    &__button-cancel {
        width: 80px;
        margin: 0px 10px 10px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: white;
        background: #b3382b;
        border-radius: 3px;
    }
    &__button-continue,
    &__button-abort {
        width: 80px;
        margin: 0px 10px 10px;
        padding: 10px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: bold;
        color: red;
        background: #22d151;
        border-radius: 15px;
    } 
}